body{
    background-color: rgb(5, 5, 85);
}

button {
    width: 3em;
    height: 3em;
    font-size: 22px;
    border: none;
    border-radius: 2em;
    margin: 0.3em;
    background-color: white;
    color: black;
    text-align: center;
} 

.wrapper {
    background-color: black;
    border-radius: 3em;
    padding: 1em;
    justify-content: center;
    align-items: center;

}

.orange {
    background-color: #FF9500;
    color: white;
}

.gray {
    background-color: #505050;
    color: white;
}

.gray1 {
    background-color: #505050;
    color: white;
    justify-content: flex-start;
    padding-right: 129px;
}

.result {
    color: white;
    display: flex;
    justify-content: flex-end;
    margin-right: 1em;
    font-size: 3.5em;
}